<!doctype html
<html>
  <head>
    <title>The history of domestic cats</title>
  </head>
<body>
  <h1>The history of domestic cats</h1>
  <h2>In the beginning</h2>
  <p>Thought to have descended from the African wildcat and used to catch vermin, the domestic cat can be traced all the way back to ancient Egypt 4,000 years ago (and perhaps beyond). By helping to reduce disease and protect crops, cats were quickly regarded as sacred creatures by the Egyptians.</p>
  <h2>The wandering cat</h2>
  <p>After the Egyptian dynasty collapsed, cats became popular elsewhere. In the Far East, cats were originally owned by the rich. As their popularity grew, the domesticated cat made its way to surrounding countries like India and Japan. This is when breeding also began, with breeds such as the Siamese and Burmese first emerging.</p>
  <h2>Meanwhile in Europe</h2>
  <p>It’s believed that Egyptian traders originally introduced cats to Europe, where the Greeks and the Romans used them as pest control. However, during the Middle Ages, cats in Europe became associated with superstition. During the Black Death of 1348, rulers ordered the killing of all cats, because they were suspected of carrying the disease. It wasn’t until the 1600s that their reputation started to recover.</p>
  <h2>Living in America</h2>
  <p>During the 15th and 16th century, cats were welcome cargo on ships to minimize vermin and disease. It’s commonly thought that when Christopher Columbus discovered America, cats from his ship went ashore and flourished. In fact, this is where the American Shorthair is rumored to have originated.</p>
  <h2>Cats today  </h2>
  <p>Nowadays, cats are a key part of modern society – it’s estimated there are close to half a billion around the world. They continue to be an important and special part of our lives. We’re always looking for new ways to show them how much we care. So, actually, when you consider how revered cats were by the Egyptians – not much has actually changed.</p>
  <b>Font:</b> <a href=>"https://catspride.com/our-blog/brief-history-human-ownership-cats"</a>
  
  <img src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&rect=37%2C29%2C4955%2C3293&q=45&auto=format&w=926&fit=clip" alt="Domestic Shorthair"/>
<h1>If you are interest in how to train your cat, let us tell you how:</h1>
<form>
  <label for="Name">Name:</label>
  <input type="text" Name="name"></input>
  <label for="Email adress">Email adress:</label>
  <input type="text" Email adress= Email adress></input>
</form>